<!DOCTYPE html>
<html>
<head>
    <title>Calculator</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body class="center">  
<p>Calculeaza suma a doua numere</p>
	
	<div class="flex-container">    
	  <form>
			<div>  	<input type="number"  id="number_box1"> <div>
					<div> 	<input type="number" id="number_box2"> <div>
        <button type="submit" >Suma</button>
        <p id="rezultat"></p>
    </form>
</div>

<div class="flex-container">
</div>
</body>
</html>
